<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="users-pages-index">
				<header>
					<h2><%= @campaign.title %></h2>
					<p><%= @campaign.description %></p>
				</header>
				
				<div class="users-pages-wrapper">
					<% @pages.each do |page| %>
						<%= link_to "#{page.title}", "http://#{page.url}" 								if page.page_type == "url" %>
						<%= link_to "#{page.title}", "#{page.url}" 												if page.page_type == "uri" %>
						<%= mail_to "#{page.url}", "#{page.title}" 												if page.page_type == "email" %>
						<%= link_to "#{page.title}", "tel:#{page.url}" 										if page.page_type == "phone" %>
						<%= link_to "#{page.title}", campaign_page_path(@campaign, page) 	if page.page_type == "content" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>