<%= render "admins/partials/error_messages", item: @campaign %>
<%= form_for [:admins, @campaign] do |f| %>
	<p style="font-size: 12px"><b>How it works:</b> After you've created a campaign, you will be able to add pages to it. To add pages to a campaign you need to leave the URL here <b>blank</b>.</p>
	<div class="form-group">
		<%= f.label :url, "URL (filling out this will always redirect users to the selected URL if campaign is active.
		Remove any http. Example: facebook.com or www.facebook.com)" %>
		<%= f.text_field :url, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :name, "Campaign name (not visible to users)" %>
		<p style="font-size: 12px;">Choose a suitable name for this unit. Example: "Practical information."</p>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :title, "Heading (visible on landing page)" %>
		<p style="font-size: 12px;">example: "Hva kan vi hjelpe deg med?"</p>
		<%= f.text_field :title, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :description, "Description (visible on landing page)" %>
		<p style="font-size: 12px;">Optional if you want to provide more info.</p>
		<%= f.text_area :description, class: "form-control" %>
	</div>

  <%= f.label :active, "Active", :value => "true"  %>
  <%= f.radio_button :active, true %>

  <%= f.label :active, "Not active", :value => "false" %>
  <%= f.radio_button :active, false %>

	<div class="form-group">
		<%= f.submit class: "btn btn-md btn-primary" %>
	</div>
<% end %>